# Include LMLs in repo language stats
*.md linguist-detectable
*.adoc linguist-detectable
# Exclude Vendor code from repo language stats
assets/css/fontawesome-all.min.css linguist-vendored
assets/css/noscript.css linguist-vendored
assets/js/** linguist-vendored
assets/sass/** linguist-vendored
portfolio/notetaking-app-help/HTML5/Data/** linguist-vendored
portfolio/notekaing-app-help/HTML5/Resources/** linguist-vendored
portfolio/notetaking-app-help/HTML5/*.js linguist-vendored
portfolio/notetaking-app-help/HTML5/Default.* linguist-vendored
# Include README.md in repo language stats
README.md -linguist-documentation